body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
  color: #333;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main-content {
  flex: 1;
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

section {
  margin-bottom: 60px;
}

section h2 {
  font-size: 24px;
  color: #2a2a2a;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.project-card, .experience-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.experience-page {
  margin: 0 auto;
}

.experience-list,
.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.experience-card,.project-card {
  /* Existing styles */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.experience-card a,.project-card a{
  color: #000;
  text-decoration: underline;
}